:root{
    --cor1: #4d4d4d;
    --cor2: #8f0000;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor1);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
p{
    font-size: 20px;
}
#inputValores{
    width: 200px;
    height: 20px;
}
#divBotoes{
    display: flex;
    gap: 20px;
}
.botao{
    display: flex;
    width: 120px;
    height: 40px;
    background-color: var(--cor2);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    border: 0;
}
@media (max-width: 500px) {
    p{
        font-size: 15px;
    }
    .botao{
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
}