@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --cor1: #1D2121;
    --cor2: #5D110E;
    --cor3: #282C2D;
    --cor4: #E8D8AD;
    --fonte1: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor1);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E8D8AD;
    font-family: var(--fonte1);
}
#opcoes{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
}
.entrada{
    width: 70px;
    height: 20px;
    background-color: var(--cor3);
    border: 0;
    border-bottom: 1px solid var(--cor4);
    font-size: 16px;
    outline: none;
    color: var(--cor4);
}
#inputValores::placeholder{
    color: var(--cor4);
}
#opcoes button{
    display: flex;
    margin-top: 5px;
    width: 70px;
    height: 25px;
    background-color: var(--cor2);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    color: var(--cor4);
    text-decoration: none;
    border: 0;
}
.divOpcao{
    background-color: var(--cor3);
    border-radius: 5px;
    padding: 5%;
    width: 90%;
}
.divOpcao div{
    display: flex;
    gap: 25%;
    text-align: center;
    align-items: center;
}
@media (max-width: 500px) {
    body{
        padding: 5%;
    }
    #opcoes{
        width: 100%;
        font-size: 15px;
    }
    #opcoes button{
        font-size: 15px;
    }
    .entrada{
        width: 50px;
        height: 18px;
    }
    .divOpcao{
    }
}